ul.menu
    li
        a.no-background(href="/")
            img.icon(src="/images/favicon.png")
    li
        a(href="/")
            i.material-icons home
            | Home
    li
        a(href="/domains")
            i.material-icons public
            | Domains
    li
        a(href="/servers")
            i.material-icons device_hub
            | Servers
    if user !== false
        if user.isAdmin
            li  
                a(href="/settings")
                    i.material-icons settings
                    | Settings
        li
            a(href="/logout") Logout #{user.name}
    else
        li
            a(href="/login") Login