ul.menu
    li
        a(href="/") Home
    li
        a(href="/domains") Domains
    li
        a(href="/servers") Servers
    li
        if user !== false
            a(href="/logout") Logout
        else
            a(href="/login") Login