ul.menu
    li
        a.no-background(href="/")
            img.icon(src="/images/favicon.png")
    li
        a(href="/")
            i.material-icons home
            | Home
    li
        a(href="/domains")
            i.material-icons web
            | Domains
    li
        a(href="/servers")
            i.material-icons device_hub
            | Servers
    li
        a(href="/users")
            i.material-icons face
            | Users
    li
        if user !== false
            a(href="/logout") Logout
        else
            a(href="/login") Login