- var msg = errorMessage
- var type = messageType ? messageType : 'error'
  script!= '$( document ).ready(function () { if (\'' + msg + '\' !== \'\' && \'' + msg + '\' !== \'undefined\') { notyAlert(\'' + msg + '\', \'' + type + '\') } })'
