link(rel="stylesheet" href="/css/skeleton.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" href="/css/style.css")
link(rel="stylesheet" href="/css/micromodal.css")
link(rel="icon" href="/images/favicon.png")
link(rel="icon" href="//unpkg.com/noty@3.2.0-beta/lib/noty.css")
link(rel="icon" href="//unpkg.com/noty@3.2.0-beta/lib/themes/bootstrap-v4.css")
