doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title letsProxy
    include includes/styles.pug
  body
    .section
      .container
        .row
          include includes/menu.pug
        .row
          h2 Welcome to letsProxy!!!
        include includes/footer.pug
    include includes/noty.pug
