doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Login
    include includes/styles.pug
    include includes/code.pug
    link(rel="stylesheet" href="/css/login.css")
  body(class="loginBackground")
    .section
      .login
        form.form-signin(action="/login" method="post")
          .row.centerText
            .columns.twelwe
              h2.form-signin-heading
                img(src="/images/favicon.png")
            .columns.twelwe
              input.input-block-level.centerText(type='text', name="user", placeholder='User name...')
            .columns.twelwe
              input.input-block-level.centerText(type='password', name="password", placeholder='Password...')
            button.btn.bg-lightgreen(type='submit') Login
    include includes/noty.pug
