doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title letsProxy
        include includes/styles.pug
        include includes/code.pug
    body
        .container
            .row
                include includes/menu.pug
            h1 New server 
            form(action="/update/server" method="post")
                label Upstream name:
                input(type="text" name="upstreamName" value=name)
                label Address(es):
                .addresses
                    div
                        input(type="text" name="upstreamData[][address]" placeholder="127.0.0.1")
                        | : 
                        input(type="text" name="upstreamData[][port]" placeholder="3000")
                        i.material-icons.pointer(onclick="addUpstreamAddress();") add_circle_outline
            include includes/footer.pug