doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title letsProxy
        include includes/styles.pug
        include includes/code.pug
    body
        .container
            .row
                include includes/menu.pug
            table.u-full-width
                tbody
                    td
                        h1 Servers/Services
                            a(href="/add/server")
                                i.material-icons.pointer.big-icon(title="Add server" style="color: green;") add_circle_outline
            table.u-full-width
                thead
                    tr
                        th &nbsp;
                        th Upstream name
                        th Server/Service addresses
                        th &nbsp;
                tbody#servers
                    each server, name in servers
                        tr(id=name)
                            td(style="width: 30px;")
                                a(href="/edit/server/" + name)
                                        i.material-icons(title="Edit server") edit
                            td #{name}
                            td
                                ul.domain-list
                                    each S in server.servers
                                        - var proxyAddress = S.address
                                        - var proxyPort = S.port?':' + S.port:''
                                        li #{proxyAddress}#{proxyPort}
                            td
                                a(href="/remove/server/" + name)
                                    i.material-icons(title="Remove " + name + " server!!!" style="color: red;") delete
        include includes/footer.pug