body {
    font-size: 16px;
}

tr {
    vertical-align: top;
}

.top-left {
    width: 100px;
    height: 100px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.bottom-right {
    width: 100px;
    height: 100px;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.domain-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.material-icons {
    /* font-size: 16px; */
}

.pointer {
    cursor: pointer;
}

.big-icon {
    font-size: 32px;
}

.menu, .footer ul {
    list-style: none;
}

.menu li, .footer ul li {
    display: inline;
}

.menu li a {
    /* display: block; */
    padding: 8px 16px;
    margin: 8px;
    background-color: #dddddd;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.menu li a i {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.no-background {
    background-color: transparent !important;
}

.icon {
    width: 36px;
    height: 36px;
    position: relative;
    top: 13px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #dddddd; */
    border-top: 1px solid grey;
    margin-top: 10px;
    color: black;
    text-align: center;
}

.footer ul {
    margin-top: 10px;
}

.footer ul li {
    padding: 8px 16px;
    margin: 8px;
}

.footer ul li a {
    text-decoration: none;
    font-weight: bold;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.space-right {
    padding-right: 10px;
}