body {
    font-size: 16px;
}

tr {
    vertical-align: top;
}

.green {
    color: green;
}

.red {
    color: red;
}

.bg-lightgreen {
  background-color: lightgreen !important;
}

.bg-coral {
  background-color: coral !important;
}

.bottom-space {
    margin-bottom: 33px;
}

.top-left {
    width: 100px;
    height: 100px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.bottom-right {
    width: 100px;
    height: 100px;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.domain-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* .material-icons {
  font-size: 16px;
} */

.pointer {
    cursor: pointer;
}

.big-icon {
    font-size: 32px;
    /* position: relative;
    bottom: -2px; */
    vertical-align: middle;
}

.medium-icon {
    font-size: 24px;
    /* position: relative;
    bottom: -2px; */
    vertical-align: middle;
}

.menu, .footer ul {
    list-style: none;
}

.menu li, .footer ul li {
    display: inline;
}

.menu li a {
    /* display: block; */
    padding: 8px 16px;
    margin: 8px;
    background-color: #dddddd;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.menu li a i {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.no-background {
    background-color: transparent !important;
}

.icon {
    width: 36px;
    height: 36px;
    position: relative;
    top: 13px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
    border-top: 1px solid grey;
    margin-top: 10px;
    color: black;
    text-align: center;
}

.footer ul {
    margin-top: 10px;
}

.footer ul li {
    padding: 8px 16px;
    margin: 8px;
}

.footer ul li a {
    text-decoration: none;
    font-weight: bold;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.space-right {
    padding-right: 10px;
}

button.btn {
  padding: 0px 30px;
}

.btn {
  padding: 13px 30px;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #555;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
}

.webBackground {
    background: url(/images/pattern-9.svg) ;
    background-size: 500px auto;
  }
